* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: Arial, Helvetica, sans-serif;
}

table{
    width: 345px;
    border-collapse: collapse;
    margin-right: auto;
    margin-left: auto;
}



td{
    border: 1px solid black;
    padding: 8px;  
}

h1{
    text-align: center;
}


